@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main role="main" class="pb-3">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Bienvenue dans notre boutique en ligne !</h1>
            <p class="lead">Découvrez notre sélection de produits de haute qualité et explorez nos catégories pour trouver ce que vous recherchez.</p>
            <a class="btn btn-primary btn-lg" asp-page="/Produits/Index" role="button">Explorez nos produits</a>
        </div>
    </div>
    
</main>
